@import "tailwindcss";

:root {
	--ph-primary: #f90;
	--ph-primary-hover: #ffb84d;
	--ph-secondary: #ffffff;
	--ph-background: #121212;
	--ph-background-alt: #222222;
	--ph-text: #f90;
	--ph-text-hover: #ffffff;
}

@theme inline {
	--color-ph-primary: var(--ph-primary);
	--color-ph-primary-hover: var(--ph-primary-hover);
	--color-ph-secondary: var(--ph-secondary);
	--color-ph-background: var(--ph-background);
	--color-ph-background-alt: var(--ph-background-alt);
	--color-ph-text: var(--ph-text);
	--color-ph-text-hover: var(--ph-text-hover);
}

body {
	background: var(--ph-background);
	color: var(--ph-primary);
	font-family: "Arial", "Helvetica", sans-serif !important;
}
